section .a_card {
    display: inline-block;
    margin: 0.25rem 0.25rem 0.25rem 0.5rem;
    padding: 0.5rem;
    min-width: 12rem;
    min-height: 10rem;
    max-width: 12rem;
    max-height: 16rem;
    border: 3px solid rgb(212, 93, 121);
    border-radius: 10px;
    text-align: center;
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 4px;
}

.createCard {
    border-radius: 10px;
}
.cards {
    border-radius: 10px;
}