body {
  margin: 3rem;
  font-family: 'Garamond', sans-serif;
  color: black;
}

h1,
h2 {
  font-family: "Garamond", serif;
  padding: 0.6em 1em;
  display: inline-block;
  color: black;
}

h2 {
  /* border-bottom: 10px solid lightgrey; */
  border: 2px solid black;
  /* box-shadow: -15px 7px 1px black; */
}

.boards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.boards__list {
  max-height: 9rem;
  min-height: 9rem;
  overflow: scroll;
  margin-right: 2rem;
  border: black dotted 1px;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content__container {
  flex: 1 0 auto;
}
